{% extends "main/base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="panel panel-primary">
        <div class="panel-body">
         {{ _('Simple Translation Program For Compiling Principle homework') }}
        </div>
        <div class="panel-footer">
            
        <input id="post1{{ res }}" type="text" class="form-control" aria-label="...">
        <br>
        <div id="translation1{{ res }}" class="well well-sm">English -> 中文</div>
        <br>
        <span >
        
            <a class="btn btn-primary" role="button" href="javascript:translate(
                        '#post1{{ res }}',
                        '#translation1{{ res }}',
                        'en',
                        'zh');">{{ _('Translate') }}</a>
        </span>
        </div>
    </div>
        <div class="panel panel-primary">
            <div class="panel-body">
                 {{ _('Simple Translation Program For Compiling Principle homework') }}
            </div>
            <div class="panel-footer">
        
                <input id="post2{{ res }}" type="text" class="form-control" aria-label="...">
                <br>
                <div id="translation2{{ res }}" class="well well-sm">中文 -> English</div>
                <br>
                <span>
        
                    <a class="btn btn-primary" role="button" href="javascript:translate(
                                '#post2{{ res }}',
                                '#translation2{{ res }}',
                                'zh',
                                'en');">{{ _('Translate') }}</a>
                </span>
            </div>
        </div>

{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    function translate(sourceElem, destElem, sourceLang, destLang) {
        $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
        $.post('/translate', {
            text: $(sourceElem).val(),
            source_language: sourceLang,
            dest_language: destLang
        }).done(function (response) {
            $(destElem).text(response['text'])
        }).fail(function () {
            $(destElem).text("{{ _('Error: Could not contact server.') }}");
        });
    }
</script> 
{% endblock %}